<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Novo Produto</p>
	</div>
	<div class="panel-body">
		<form ng-submit="addProduct(product)"  enctype="multipart/form-data">
    
      <div class="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control" name="name"  ng-model="product.name" required>
      </div>
      <div class="form-group">
        <label>Descricao</label>
        <input type="text" class="form-control" name="description"  ng-model="product.description" >
      </div>
      <div class="form-group">
        <label>Valor</label>
        <input type="text" class="form-control money" name="value" required   ng-model="product.value">
      </div>
      <div class="form-group">
        <label>Valor Revenda</label>
        <input type="text" class="form-control money" name="resale_value"  ng-model="product.resale_value" >
      </div>
      <div class="form-group">
        <label>Imagem </label>
        <input type="file" class="form-control" name="image"  ng-model="product.image" >
      </div>
      <div class="form-group">
        <label>Ativo </label>
        <input type="checkbox" name="active" value='1'  ng-model="product.active" >
      </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="#/products" class="btn btn-danger"> Voltar</a>
</form>	
    <div>
<div>		
	<script>
    $(document).ready(function(){
				$('.money').maskMoney({reverse: true, thousands: '', decimal: '.'});
		});		
	</script>