<table class="table table-bordered" ng-init="getProducts()">
	<thead>
	<tr>
	  <th>Imagem</th>
	  <th>Título</th>
	  <th>Descrição</th>
	  <th>Valor</th>
	  <th>Valor Revenda</th>

	  <th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="product in products">
	  <td><img src="{{ product.image }}" width="50"></td>
	  <td>{{ product.name }}</td>
	  <td>{{ product.description }}</td>
	  <td>{{ product.value }}</td>
	  <td>{{ product.resale_value }}</td>
	  <td> 
	    <!--<a href="#/products/{{product.id}}/show" class="btn btn-success btn-sm"> Mostrar  </a>-->
	    <a href="#/products/{{product.id}}/edit" class="btn btn-primary btn-sm"> Editar  </a>
	  	<a ng-click="deleteProduct(product.id)" class="btn btn-danger btn-sm">Deletar </a>
	  </td>
	</tr>
	</tbody>
</table>
