<div class="panel panel-default" ng-init="showProduct()">
	<div class="panel-heading">
	  <p class="panel-title"> Detalhe Produto </p>
	</div>
	<div class="panel-body">
		<table class="table" style="margin-bottom:10px">
  <thead>
    <tr>
      <th>ID:</th>
      <th>Imagem</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Valor Revenda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{product.id}}</td>
      <td class="mdl-data-table__cell--non-numeric"><img src="{{product.image}}" width="50"></td>
      <td class="mdl-data-table__cell--non-numeric">{{product.name}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{product.description}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{product.value}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{product.resale_value}}</td>
    </tr>
      </tbody>
</table>
 <a href="#/products" class="btn btn-danger"> Voltar</a>		
    <div>
<div>